.services-container {
    text-align: center;
  }
  
  .services-title {
    font-size: 24px;
    align-items: center;
    justify-content: center;
  }
  
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .card {
    width: 600px;
    margin: 10px;
    padding: 20px;
    background-color: #d3cccc;
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255) 0px 5px 10px;
  }
  
  .card__image{
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  
  .card-title {
    font-size: 20px;
  }
  
  .card-description {
    margin-top: 10px;
  }
  
  /* Media Queries for Small and Medium Screens */
  
  @media (max-width: 768px) {
    .services-title {
      text-align: center;
    }
  
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      max-width: 300px;
    }
  }
  