.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 0rem;
}

.about__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  text-align:left;
  margin-right: 20px;
}

.image {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;
  background-size: cover;
  box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.3);
}

.about__button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  align-items: center;
}

.about__button:hover {
  background-color: gray;
}
.about__button svg {
  /* Reduce the size of the SVG */
  width: 20px;
  height: 20px;

  /* Adjust the position to center it within the button */
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .about__container {
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    gap: 0rem;
    margin-top: 3rem;
  }
  .about__header{
    margin-top: 10rem;
  }
  .section__subtitle{
    margin-bottom: 20px;
  }
  .about__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0;
    text-align: center;
    margin-right: 0;
    margin-left: 20px;
  }

  .about__image {
    order: -1;
    margin-top: 20px;
  }

  .about__description {
    order: 2; 
    margin-right:0; 
    margin-top: 20px; 
    padding: 0;
  }

  .about__button {
    order: 3; 
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

