.home__content{
grid-template-columns: 116px repeat(2,1fr);
padding-top: 0rem;
column-gap: 2rem;
align-items: center;
padding-left: 2rem;
padding-right: 2rem;
margin-top:0rem;
margin-bottom: 3rem;
}

.home_img{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--title-color-dark);
}
.home__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
    color: var(--title-color);
}
.home__subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-right: 5.4rem;
}
.home__subtitle::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    border-radius: .5rem;
}
.img{
    animation: profile__animate 4s ease-in-out infinite 1s;
}
@keyframes profile__animate {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
@media screen and (max-width: 768px){
  .home__content{
    grid-template-columns: auto  auto;
    padding-top: 0.5rem;
    column-gap: 1rem;
  }
  /* .home__content.grid{
    

  } */
  .home__img{
    order:initial;
    justify-self: initial;
    padding-right: 1rem;
    /* width: 150px; */
    height: 150px;
  }
  .home__data{
    grid-column: 1/3;
    align-items: center;
    margin-top: 0rem;
    height:400px ;
  }
  .home__img{
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    /* width: 300px; */
    height: 150px;
    margin-bottom: 8rem;
    
  }
  /* .home__scroll{
    display: none;
  } */
  .home__social{
    width: 20%;
    column-gap: 0.5rem;
  }
  .home__section{
    padding-top: 50px;
  }
  .home__title{
    font-size: 2rem;
  }
  .home__subtitle{
    font-size: 1.5rem;
    /* padding-right: 0; */
  }
  .home__description{
    font-size: 1.4rem;
    text-align: center;
  }
  .button {
    display: block;
    margin: 0 auto; 
    margin-top: 2rem;
    margin-left: 9rem;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #333;
  }

  .button-text {
    margin-right: 10px;
  }
}
@media screen and (max-width:  350px){
  .home__img{
    width: 150px;
    height: 150px;
  }
}