.contact-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 4rem;
}

.contact-info {
  flex: 1;
  padding-right: 20px;
  margin-left: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.contact-form {
  flex: 1;
  padding-left: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-group {
  margin-bottom: 20px;
  flex-basis: 40%;
  margin-right: 2rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea{
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 4px;
  resize:vertical;
  height: auto;
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: rgb(38, 0, 255);
}
.form-group-message{
  flex-basis: 100%;
  margin-right: 4.9rem;
  height: 150px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.submit-btn {
  background-color: #070707;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: gray;
}

.success-message {
  color: #4CAF50;
  margin-top: 10px;
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-header h1 {
  font-size: 48px;
}
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    flex-basis: 50%;
    margin-left: 5rem;
  }

  .contact-form {
    margin-left: 2rem;
    
    margin-right: 2rem;
  }
  input[type="text"],
  input[type="email"],
  textarea{
  width: 100%;
  
}
.form-group {
  margin-bottom: 20px;
  flex-basis: 100%;
  margin-right: 0rem;
}
.form-group-message{
  flex-basis: 100%;
  margin-right: 0rem;
  
  
}
}
