.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: gray;
  }
  
  .footer-section {
    margin-bottom: 10px;
  }
 
  .social-media-icons {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #000;
    height: 30px;
    width: 30px;
    
  }
  
  .social-media-icons li {
    margin-right: 20px;
  }
  .instagram:hover {
    color: #e4405f;
    transform: scale(1.2);
  }
  .github:hover {
    color: black;
    transform: scale(1.2);
  }
  .linkedin:hover{
    color: #0077b5;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .social-media-icons {
      margin-top: 10px;
    }
  }
  